body{
background-color: aqua;
color:blueviolet;
}

p{
    color:blue;


}


/*selectores de clase. inician con un punto*/






h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;



}


/*tamañode fuente*/

h3{
    font-size: 25px;
}





